.cnt{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.logo{
    width: 100%;
}
.others_blocks{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.err{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}