.cnt{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.logo{
    width: 100%;
}
.others_blocks{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.err{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.linkoil{
    background-color: var(--button_primary_background, var(--vkui--color_background_accent) );
    min-height: var(--vkui--size_button_large_height--regular);
    border-radius: var(--vkui--size_border_radius--regular);
    color:var(--button_primary_foreground, var(--vkui--color_text_contrast));
    width: 60%;
}